body{
    background-color: #DFD7B9;
}
h1{
    color: blue;
}
h2{
    color: blue;
}
ul{
    background-color: #333333;
}
li{
    color:#DFD7B9;
}
.job-title{
    background-color: blue;
    color: darkgray;

}