@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #131313;
}

h1 {
  color: white;
  font-family: Roboto;
}

.media-picture {
  height: 400px;
  background-image: url('https://studiosol-a.akamaihd.net/uploadfile/letras/playlists/1/5/4/0/1540f81fee974bffacdfa96420555d37.jpg');
  background-size: cover;
  background-position: center;
}

.review-score {
  color: white;
  background-color: #e6bd09;
  padding: 12px;
  font-weight: 800;
}

h2 {
  color: steelblue;
}

p {
  color: #bdbdbd;
  font-family: Roboto;
}

a {
  color: yellow;
  text-decoration: none;
}