* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0
}
body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-weight: bold;
}
/* Inicio de configuração de estilo do Header */
.mainHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: #C4C4C4;
}

.logo-img img {
    width: 150px;
    height: 150px;
}

.navMenu ul li {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    text-decoration: none;
}

.mainCarousel {
    width: 100%;
    height: 210px;
}

.mainCarousel img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}